<div class="text-center m-5">
    <h1>Hola {{userName}}, estas en el panel de administración</h1>
</div>
<div class="text-center m-3">
    <h2>Mostrar productos</h2>
    <p>Si no se completa el valor límite, se mostrarán todos los productos.</p>
    <form class="d-flex" action="/api/products" method="GET">
        <label class="col-sm-2 col-form-label" for="limit">Límite:</label>
        <input class="form-control" type="number" name="limit">
        <input class="btn btn-primary" type="submit" value="Ver">
    </form>
</div>
<div class="text-center m-3">
    <h2>Cargar productos nuevos</h2>

    <form action="/api/products" method="POST">
        <div class="row mb-3">
            <label for="title" class="col-sm-2 col-form-label">Titulo:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="category" class="col-sm-2 col-form-label">Categoría:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="category" name="category" required>
            </div>
        </div>
                <div class="row mb-3">
            <label for="description" class="col-sm-2 col-form-label">Descripción:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="code" class="col-sm-2 col-form-label">Código:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="code" name="code" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="price" class="col-sm-2 col-form-label">Precio:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="price" name="price" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="thumbnail" class="col-sm-2 col-form-label">Imagen:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="thumbnail" name="thumbnail">
            </div>
        </div>
        <div class="row mb-3">
            <label for="stock" class="col-sm-2 col-form-label">Stock:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="stock" name="stock" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="status" class="col-sm-2 col-form-label">Estado:</label>
            <div class="col-sm-1">
                <input class="form-check-input" type="checkbox" id="status" value="true" checked>
            </div>
        </div>
        <input class="btn btn-primary" type="submit">
    </form>
</div>