<div class="text-center">
    <h1>{{title}}</h1>

    <h2>{{message}}</h2>

    <form action="/" method="POST">

        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name" value="">

        <label for="role">Rol:</label>
        <select name="role" id="role" value="">
            <option value="user">Usuario</option>
            <option value="admin">Administrador</option>
        </select>

        <input class="btn btn-primary" type="submit" value="Ingresar">

    </form>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

