<div class="text-center">
    <h1 class="m-5">{{title}}</h1>
    <div class="card m-auto" style="width: 22rem;">
        <div class="card-body">
            <h3 class="card-title m-3">{{message}}</h3>
            <form class="d-flex flex-wrap flex-column justify-content-center gap-3" id="loginForm">
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="width: auto;"><img src="../img/usuario.png" alt="user" style="width: 2rem;"></span>
                    <input type="text" class="form-control" placeholder="Email" name="email" id="email" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
                <div class="input-group input-group-lg">
                    <span class="input-group-text" id="inputGroup-sizing-lg" style="width: auto;"><img src="../img/lock.png" alt="password" style="width: 2rem;"></span>
                    <input type="password" class="form-control" placeholder="Contraseña" name="password" id="password" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                </div>
                <input class="btn btn-primary" type="submit" value="Ingresar">
            </form>
            <a class="btn btn-secondary p-0 d-flex justify-content-center py-2 mt-2 mb-5" href="/api/sessions/github">Ingresar con GitHub</a>
            <a href="/reset" class="card-link">Olvidaste tu contraseña?</a>
        </div>
        <div class="card-footer text-body-secondary">
            <h5 class="card-subtitle">No tienes una cuenta?</h5>
            <a href="/register" class="card-link">Regístrate</a>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script src="/js/login.js"></script>


