<div class="text-center m-5">
    <h1>Hola {{userName}}!</h1>
</div>
<div class="text-center m-3">
    <h2>Mostrar productos</h2>
    <p>Si no se completa el valor límite, se mostrarán todos los productos.</p>
    <form class="d-flex" action="/api/products" method="GET">
        <label class="col-sm-2 col-form-label" for="limit">Límite:</label>
        <input class="form-control" type="number" name="limit">

        <input class="btn btn-primary" type="submit" value="Ver">
    </form>
</div>